<page-header [title]="competition.title"></page-header>

<mat-tab-group [selectedIndex]="active_tab" (selectedIndexChange)="setActiveTab($event)">
    <mat-tab label="Статистика">
        <div fxLayout="row wrap"
             fxLayoutAlign="start stretch" class="p-t-8">
            <mat-card fxFlex="0 0 300px" fxFlex.lt-sm="100%" class="m-r-8">
                <mat-card-header>
                    <mat-card-title>
                        <h4>
                            Код маршала
                        </h4>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{competition.secret.marshal}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="text-center">
                    <qr-code [value]="competition.secret.marshal + ''" [size]="150"></qr-code>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="0 0 300px" fxFlex.lt-sm="100%" class="m-r-8">
                <mat-card-header>
                    <mat-card-title>
                        <h4>
                            Код Администратора
                        </h4>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{competition.secret.admin}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="text-center">
                    <qr-code [value]="competition.secret.admin + ''" [size]="150"></qr-code>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="0 0 300px" fxFlex.lt-sm="100%" class="m-r-8">
                <mat-card-header>
                    <mat-card-title>
                        <h4>
                            <mat-slide-toggle [checked]="!competition.stop_registration"
                                              (change)="onStopRegChange($event)">Открыть регистрацию
                            </mat-slide-toggle>
                        </h4>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <a [routerLink]="['/public/athlet/register', competition.id]"
                           *ngIf="!competition.stop_registration"
                           target="_blank">Публичная страница</a>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="text-center">
                    <qr-code [value]="getFullRegisterUrl()" [size]="150"></qr-code>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="(athlets$ | async)" fxFlex="0 0 300px" fxFlex.lt-sm="100%" class="m-r-8">
                <mat-card-header>
                    <mat-card-title>
                        <h2>
                            Статистика по регистрациям
                        </h2>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="text-center" class="m-r-8">
                    <canvas baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="'pie'"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [legend]="true">
                    </canvas>
                </mat-card-content>
            </mat-card>

            <!--            <mat-card fxFlex="0 0 200px">-->
            <!--                <mat-card-content>-->
            <!--                    <a mat-flat-button (click)="onAdmin('add_athlets')">Заполнить атлетов</a>-->
            <!--                    <a mat-flat-button (click)="onAdmin('remove_athlets')">Очистить</a>-->
            <!--                </mat-card-content>-->
            <!--            </mat-card>-->

        </div>
    </mat-tab>

    <mat-tab label="Редактировать">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="p-t-8">
            <div fxFlex="40" fxFlex.lt-sm="100" class="p-r-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Соревнование</mat-card-title>
                        <mat-card-subtitle>Этапы проведения</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="selectCompetition">
                            <mat-radio-group formControlName="competition_id" aria-label="Select an option">

                                <mat-list>
                                    <mat-list-item>
                                        <h4 mat-line class="p-16">
                                            <mat-radio-button [value]="competition.id">
                                                <b>{{competition.title}}</b>
                                            </mat-radio-button>
                                        </h4>
                                        <p mat-line>
                                            {{ competition.start_date.toDate()|date:"yyyy-dd-MM (z)":getTzOffset(competition.timezone) }}
                                        </p>
                                        <button (click)="onDelete(competition)" mat-icon-button type="button"
                                                color="warn">
                                            <mat-icon>
                                                delete
                                            </mat-icon>
                                        </button>
                                    </mat-list-item>
                                    <mat-divider *ngIf="competition.stages?.length"></mat-divider>
                                    <div *ngFor="let item of competition.stages; let i = index; let l = last;">
                                        <mat-list-item>
                                            <h4 mat-line class="p-16">
                                                <mat-radio-button [value]="item.id">{{item.title}}</mat-radio-button>
                                            </h4>
                                            <p mat-line>
                                                {{ item.start_date.toDate()|date:"yyyy-dd-MM (z)":getTzOffset(competition.timezone) }}
                                            </p>
                                            <button (click)="onDelete(item, 'stages')"
                                                    mat-icon-button type="button" color="warn">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <mat-divider *ngIf="!l"></mat-divider>
                                    </div>
                                </mat-list>

                            </mat-radio-group>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="60" fxFlex.lt-sm="100" class="p-l-4">
                <app-competition [competition]="edit_competition" [isLinear]="false"></app-competition>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Добавить этап">
        <h2>Добавить следующий этап(день) соревнований</h2>
        <p>
            Если соревнование многодневное / поэтапное, необходимо добавить следующий этап, при этому указать новые
            установочные данные, например, дату начала, время или продолжительность.
            При этом атлеты зарегистрированные для первого (основного) этапа будут перенесены
            на все последующие этапы, БЕЗ перерегистрации.
        </p>
        <app-competition [clone_competition]="competition"
                         [isLinear]="false"
                         (setActiveTabEvent)="setActiveTab($event)"></app-competition>
    </mat-tab>

    <mat-tab label="Атлеты">
        <mat-card style="overflow: hidden">
            <mat-card-header>
                <mat-card-title>Зарегистрированные спортсмены</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ul class="one-row">
                    <li>
                        <button (click)="onAddAthlet()" mat-fab aria-label="Добавить атлетаы">
                            <mat-icon>add</mat-icon>
                        </button>
                        Добавить атлета
                    </li>
                    <li>
                        <csv [data]="getCsvData(dataSource.filteredData)"
                             [filename]="'athlets'"
                             [options]="csv_export_options">
                            <a mat-fab class="bg-teal-400">
                                <mat-icon>get_app</mat-icon>
                            </a>
                            Скачать таблицу в формате CSV
                        </csv>
                    </li>
                </ul>

                <form [formGroup]="filterAthlets" *ngIf="(athlets$ | async)">
                    <mat-card>
                        <mat-card-content fxLayout="row wrap">
                            <mat-form-field fxFlex="100" class="p-16">
                                <input matInput formControlName="search" placeholder="Фильтр">
                                <mat-hint>По фамилии, номеру телефона или номеру участника</mat-hint>
                            </mat-form-field>
                            <div fxFlex="100" class="mat-form-field p-16">
                                <label id="competition_classes" class="p-r-16">
                                    Классы участников
                                </label>
                                <mat-radio-group formControlName="class" aria-labelledby="competition_classes">
                                    <mat-radio-button [value]="''"
                                                      class="p-r-8">Все
                                    </mat-radio-button>
                                    <mat-radio-button *ngFor="let _class of competition.classes"
                                                      [value]="_class"
                                                      class="p-r-8">{{_class}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер</th>
                        <td mat-cell *matCellDef="let element"><b>{{element.number}}</b></td>
                    </ng-container>

                    <ng-container matColumnDef="fio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя</th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['detail', element.id]">{{element.fio}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Телефон</th>
                        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
                    </ng-container>

                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Класс</th>
                        <td mat-cell *matCellDef="let element">{{element.class}}</td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Зарегистрировался</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.created?.toDate()|date:"dd.MM.yy" }}<br>
                            {{ element.created?.toDate()|date:"HH:mm:ss" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Действия</th>
                        <td mat-cell *matCellDef="let element" class="table-actions">
                            <mat-button-toggle-group appearance="legacy" aria-label="Actions"
                                                     (change)="actions($event, element.id)">
                                <mat-button-toggle value="delete" aria-label="Remove athlete">
                                    <mat-icon>delete</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
