<ActionBar [title]="('Athlete: '|L) + athlet.number">
    <NavigationButton icon="res://round_menu_black_24"
                      (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem [text]="'Call'|L"
                (tap)="onPhone()"
                ios.position="right"
                android.position="popup"></ActionItem>
    <ActionItem [text]="'Send sms'|L"
                (tap)="onSms()"
                ios.position="right"
                android.position="popup"></ActionItem>
</ActionBar>
<GridLayout rows="auto, auto, *" columns="*" class="p-l-10 p-r-10">
    <StackLayout row="0" col="0">
        <Label [text]="'NFC: ' + (athlet.nfc_id ? athlet.nfc_id : ('not assigned'|L))"
               [class.-warning]="!athlet.nfc_id"
               class="font-weight-bold"></Label>

        <Label [text]="'Start group: ' + (athlet.group ? athlet.group : ('not assigned'|L))"
               [class.-warning]="!athlet.group"
               class="font-weight-bold"></Label>

        <Label [text]="('Name: '|L) + athlet.fio"></Label>
        <Label [text]="('Class: '|L) + athlet.class"></Label>
        <Label [text]="('Phone no.: +7 '|L) + athlet.phone" col="0" verticalAlignment="center"></Label>
        <Label *ngFor="let field of _competition.selected_competition.athlet_extra_fields" [text]="(field|titlecase) + ': ' + athlet[field]"></Label>

        <Button *ngIf="athlet.nfc_id"
                [text]="'Clear NFC tag'|L"
                (tap)="onClearNfc()"
                class="btn -outline"></Button>
    </StackLayout>
    <StackLayout row="1" col="0">
        <Button [text]="activityIndicator.busy ? ('Stop scan'|L) :('Set NFC tag'|L) "
                (tap)="(activityIndicator.busy = !activityIndicator.busy)"
                [class.-primary]="!activityIndicator.busy"
                row="0"
                col="0"
                class="btn">
        </Button>
        <StackLayout horizontalAlignment="center"
                     [visibility]="activityIndicator.busy ? 'visible' : 'collapse'"
                     verticalAlignment="center">
            <ActivityIndicator height="20"
                               width="20"
                               #activityIndicator
                               (busyChange)="onBusyChanged($event)"
                               style="color: red;"
                               verticalAlignment="center"
                               horizontalAlignment="center"
                               class="activity-indicator m-15"></ActivityIndicator>
        </StackLayout>
    </StackLayout>
    <StackLayout row="2" col="0">
        <ListView height="100%" [items]="getMarks()">
            <ng-template let-mark="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout columns="*, auto" rows="*, *" class="p-l-5 p-r-5">
                    <Label col="0" row="0" [text]="checkpoints[mark.order].title" style="font-weight: bold; font-size: 15em"></Label>
                    <Label col="0" row="1" [text]="mark.created|date:'dd.MM HH:mm:ss'"></Label>
                    <Label (tap)="onRemoveCp($event, mark)"
                           [class.scale-active]="i == tap_remove_index"
                           [class.disabled]="mark.order != current_checkpoint?.order"
                           text="&#xf2ed;"
                           col="1"
                           row="0"
                           rowSpan="2"
                           class="far p-l-8 p-r-8"
                           verticalAlignment="center"
                           style="font-size: 18em"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>
