<div fxLayout="row" fxLayoutAlign="center center" class="matero-auth-container large-content" style="">
    <div class="w-full" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card class="mat-elevation-z4 m-b-8 m-t-8" fxFlex="400px" fxFlex.xs="90%">
            <mat-card-title class="text-center m-b-24">{{competition.title}}</mat-card-title>
            <mat-card-subtitle class="text-center m-b-24" fxLayout="row" fxLayoutAlign="space-between center">
                <a (click)="onSwitchForm($event, 'register');" href [class.disabled]="action === 'register'">
                    Регистрация участника
                </a>
                <a (click)="onSwitchForm($event, 'change');" href [class.disabled]="action === 'change'">
                    Сменить номер или класс
                </a>
            </mat-card-subtitle>
            <mat-card-content [ngSwitch]="competition.stop_registration">
                <div *ngSwitchDefault>
                    <div [ngSwitch]="action">
                        <athlet-register *ngSwitchCase="'register'"
                                         [competition]="competition"
                                         (onCreated)="onCreated($event)"></athlet-register>

                        <div *ngSwitchCase="'change'">
                            <form [formGroup]="getAthletForm"
                                  (ngSubmit)="onSendSms(getAthletForm.value, getAthletForm.valid, formDirective)"
                                  #formDirective="ngForm">

                                <mat-form-field class="full-width">
                                    <mat-label>Телефонный номер</mat-label>

                                    <div matPrefix>+7 &nbsp;</div>
                                    <input (input)="onPhoneInput()" type="tel" matInput placeholder="Телефон"
                                           formControlName="phone"
                                           required>
                                    <mat-hint>Убедитесь, что вводите номер телефона без пробелов, только 10 цифр
                                    </mat-hint>
                                    <div matSuffix>
                                        <mat-spinner *ngIf="getAthletForm.controls['phone'].pending"
                                                     diameter="24"></mat-spinner>
                                    </div>
                                    <mat-error
                                            *ngIf="getAthletForm.controls['phone'].hasError('unused_value') && !getAthletForm.controls['phone'].hasError('required')">
                                        Указанный телефонный номер не зарегистрирован
                                    </mat-error>
                                </mat-form-field>

                                <div [class.hidden]="getAthletForm.controls['phone'].invalid || getAthletForm.controls['phone'].pending"
                                     *ngIf="getAthletForm.controls.hasOwnProperty('captcha')"
                                     class="mat-form-field full-width">
                                    <re-captcha formControlName="captcha" required></re-captcha>
                                </div>

                                <mat-form-field class="full-width">
                                    <mat-label>Код подтверждения</mat-label>
                                    <input disabled matInput formControlName="code" required type="number">
                                    <mat-hint>Код состоит из 6-ти цифр</mat-hint>
                                    <div matSuffix>
                                        <mat-spinner *ngIf="getAthletForm.controls['code'].pending"
                                                     diameter="24"></mat-spinner>
                                    </div>
                                    <mat-error *ngIf="getAthletForm.controls['code'].hasError('code') && !getAthletForm.controls['code'].hasError('required')">
                                        {{getAthletForm.controls['code'].errors['code'].message}}
                                    </mat-error>
                                </mat-form-field>

                                <div *ngIf="!getAthletForm.controls['code'].valid"
                                     class="mat-form-field full-width">
                                    <button mat-raised-button color="warn" type="submit"
                                            [disabled]="getAthletForm.controls['code'].status == 'DISABLED'">
                                        Выслать код подтверждения номера
                                    </button>
                                </div>

                            </form>

                            <athlet-change
                                    *ngIf="athlet"
                                    [athlet]="athlet"
                                    [competition]="competition"
                                    (onCreated)="onChange($event)"></athlet-change>

                        </div>
                    </div>
                </div>

                <h3 *ngSwitchCase="true" class="text-center text-red-400">
                    Регистрация приостановлена
                </h3>
            </mat-card-content>
        </mat-card>
    </div>
</div>
