<div style="background-color: darkgray" fxFill>
<div fxFill fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
        <mat-card-content>
            <form [formGroup]="signinForm" #formDirective="ngForm" (ngSubmit)="onSave(formDirective)" fxLayout="column" fxLayoutAlign="space-around start">
                <mat-form-field >
                    <mat-label>Телефонный номер</mat-label>
                    <div matPrefix>+7 &nbsp;</div>
                    <input type="tel" matInput placeholder="Введите номер" formControlName="phone" required>
                    <mat-hint>Убедитесь, что вводите номер телефона без пробелов, только 10 цифр</mat-hint>
                    <div matSuffix>
                        <mat-spinner *ngIf="signinForm.controls['phone'].pending" diameter="24"></mat-spinner>
                    </div>
                    <mat-error
                            *ngIf="signinForm.controls['phone'].hasError('used_value') && !signinForm.controls['phone'].hasError('required')">
                        Указанный телефонный номер уже зарегистрирован
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-flat-button>Google</button>
                    <button mat-flat-button>Facebook</button>
                </div>
                <div>
                    <button mat-raised-button [disabled]="!signinForm.valid" color="primary" type="submit">Войти</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</div>
