<RadSideDrawer #sideDrawerId [allowEdgeSwipe]="_activatedUrl != '/'">
    <GridLayout tkDrawerContent rows="auto, *">
        <StackLayout row="0" class="sidedrawer-header">
            <GridLayout [ngSwitch]="auth.user?.isAnonymous" columns="auto, *">
                <Image *ngSwitchCase="false" [src]="auth.user?.photoURL" col="0" class="logo" stretch="aspectFit"></Image>
                <Image *ngSwitchDefault src="font://&#xf21b;" col="0" class="fas logo" stretch="aspectFit"></Image>
                <Label [text]="auth.params.displayName" col="1" verticalAlignment="center" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout>
                <GridLayout [class.active]="_activatedUrl == '/home'"
                            (tap)="navigateTo('/home')"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf015;" class="fas"></Label>
                    <Label [text]="'Home'|L" col="1"></Label>
                </GridLayout>

                <GridLayout [class.active]="_activatedUrl.indexOf('/home/competitions') == 0"
                            (tap)="navigateTo('/home/competitions')"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf559;" class="fas"></Label>
                    <Label [text]="'Competitions'|L" col="1"></Label>
                </GridLayout>

                <GridLayout *ngIf="_competition.selected_competition"
                            [class.active]="_activatedUrl == '/scan'"
                            (tap)="navigateTo('/scan')"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf1eb;" class="fas"></Label>
                    <Label [text]="'Scan'|L" col="1"></Label>
                </GridLayout>

                <GridLayout *ngIf="_competition.selected_competition"
                            [class.active]="_activatedUrl.indexOf('/athlets') == 0"
                            (tap)="navigateTo('/athlets')"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf0c0;" class="fas"></Label>
                    <Label [text]="'Athletes'|L" col="1"></Label>
                </GridLayout>

                <StackLayout class="m-10"></StackLayout>

                <GridLayout *ngIf="_competition.isAdmin"
                            (tap)="goTo('https://raceorg.agestart.ru/edit/' + _competition.selected_competition.id)"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf044;" class="fas"></Label>
                    <Label [text]="'Edit competition'|L" col="1"></Label>
                </GridLayout>
                <GridLayout *ngIf="_competition.selected_competition && !_competition.selected_competition?.stop_registration"
                            (tap)="goTo('https://raceorg.agestart.ru/public/athlet/register/' + _competition.selected_competition.id)"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf234;" class="fas"></Label>
                    <Label [text]="'Registration'|L" col="1"></Label>
                </GridLayout>
                <GridLayout *ngIf="auth.params.canCreate"
                            (tap)="goTo('https://raceorg.agestart.ru/add')"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf055;" class="fas"></Label>
                    <Label [text]="'Create competition'|L" col="1"></Label>
                </GridLayout>

                <StackLayout class="m-10"></StackLayout>

                <GridLayout *ngIf="auth.user"
                            (tap)="onLogout()"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf2f5;" class="fas"></Label>
                    <Label [text]="'Logout'|L" col="1"></Label>
                </GridLayout>
                <GridLayout (tap)="closeDrawer()"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf137;" class="fas"></Label>
                    <Label [text]="'Back'|L" col="1"></Label>
                </GridLayout>
                <GridLayout (tap)="onExit()"
                            columns="auto, *"
                            class="side-label">
                    <Label col="0" text="&#xf52b;" class="fas"></Label>
                    <Label [text]="'Exit'|L" col="1"></Label>
                </GridLayout>

                <!--                <Label [text]="'Enter'|L" class="side-label" (tap)="openModal('enter')"></Label>-->
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
