<GridLayout columns="*, *" rows="auto, auto, *">
    <GridLayout *ngIf="isAdmin" col="0" colSpan="2" row="0" columns="*, *" rows="auto">
        <Button col="0" row="0" [text]="'Admin QR code'|L" (tap)="onTapQr('admin')"></Button>
        <Button col="1" row="0" [text]="'Marshal QR code'|L" (tap)="onTapQr('marshal')"></Button>
    </GridLayout>

    <StackLayout col="0" row="1" class="p-t-10 p-b-10">
        <Label [text]="'Connected\ndevices'|L"
               textWrap="true"
               class="font-weight-bold"
               horizontalAlignment="center"></Label>
    </StackLayout>
    <ListView col="0" row="2"
              [items]="competition?.mobile_devices">
        <ng-template let-device="item" let-i="index">
            <StackLayout>
                <Label [text]="device|deviceName" [class.-warning]="device.isAdmin"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout col="2" row="1" class="p-t-10 p-b-10">
        <Label [text]="'Checkpoints'|L" class="font-weight-bold" horizontalAlignment="center"></Label>
    </StackLayout>
    <ListView col="2" row="2"
              [items]="competition?.checkpoints"
              (itemTap)="onItemTap($event)">
        <ng-template let-checkpoint="item" let-i="index">
            <StackLayout [class.active]="isReader(checkpoint)">
                <Label [text]="checkpoint.order + ': ' + checkpoint.title"></Label>
                <Label [text]="checkpoint.marshal" *ngIf="checkpoint.marshal" class="font-italic"></Label>
                <Label [text]="device|getDevice:competition|deviceName" *ngFor="let device of checkpoint.devices" class="font-italic"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>

