<div class="p-20">
    <mat-list>
        <h3 matSubheader>Действия над атлетами</h3>
        <mat-list-item>
            <mat-icon matListIcon>label</mat-icon>
            <h4 matLine>
                <button (click)="onAthletCheckpointsClear()" mat-button color="primary">Очистить все записи о
                    прохождении отметок
                </button>
            </h4>
            <p matLine></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListIcon>label</mat-icon>
            <div matLine>
                <form [formGroup]="phoneForm" #formDirective="ngForm" (ngSubmit)="onSave(phoneForm.value, phoneForm.valid, formDirective)">
                    <mat-form-field class="full-width inline">
                        <mat-label>Телефонный номер</mat-label>

                        <span matPrefix>+7 &nbsp;</span>
                        <input type="tel" matInput placeholder="Телефон" formControlName="phone" required>
                        <mat-hint>Убедитесь, что вводите номер телефона без пробелов, только 10 цифр</mat-hint>
                        <span matSuffix>
                        <mat-spinner *ngIf="phoneForm.controls['phone'].pending" diameter="24"></mat-spinner>
                    </span>
                        <mat-error *ngIf="phoneForm.controls['phone'].hasError('unused_value') && !phoneForm.controls['phone'].hasError('required')">
                            Указанный телефонный номер не зарегистрирован
                        </mat-error>
                    </mat-form-field>
                    <div class="mat-form-field full-width inline">
                        <button mat-raised-button [disabled]="!phoneForm.valid" color="primary" type="submit">
                            Найти
                        </button>
                    </div>
                </form>
            </div>
            <p matLine></p>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>

<div class="p-20">
    <app-admin-register *ngIf="athlet" [athlet]="athlet"></app-admin-register>
</div>
