table {
  width: 100%;
}

.mat-column-place {
  font-weight: bold;
}

.active {
  color: blue
}

.highlight {
  color: red
}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

.p-20 {
  padding: 20px;
}
