table {
  width: 100%;
}

.mat-column-place {
  font-weight: bold;
}

.active {
  color: blue
}

.elapsed {
  color: darkgray;
}

.highlight {
  color: red
}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.cp-header {
  width: 70px;
}

.athlet {
  ul {
    list-style-type: none;
    font-size: smaller;
  }
}

.in-row {
  display: inline-block
}

.m-r-10 {
  margin-left: 10px;
}

.p-t-2 {
  padding-top: 4px;
}

.v-top {
  vertical-align: top
}

.mat-header-row {
  height: 42px;
}

.last-cp {
  background-color: lightblue;
}

td > span {
  padding-left: 2px;
  padding-right: 2px;
}
