/* You can add global styles to this file, and also import other style files */
@import "styles/app";

a[matSuffix] {
  cursor: pointer
}

.matero-sidemenu-link {
  .menu-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box
  }
}

//.mat-checkbox-layout {
//  white-space: normal !important;
//}
//
//.mat-radio-label {
//  white-space: normal !important;
//}
