/* You can add global styles to this file, and also import other style files */
@import "styles/app";
@import "styles_custom/custom_app";

a[matSuffix] {
  cursor: pointer
}

a.disabled {
  color: darkgray;
  pointer-events: none;
  cursor: default;
}

.matero-auth-container.large-content {
  height: auto;
  min-height: 100%;
}

.matero-sidemenu-link {
  .menu-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box
  }
}

.hidden {
  display: none !important;
}
