<form [formGroup]="registerForm" #formDirective="ngForm"
      (ngSubmit)="onSave(registerForm.value, registerForm.valid, formDirective)" class="my-form">
    <mat-form-field class="full-width">
        <mat-label>Фамилия Имя Отчество</mat-label>
        <input matInput placeholder="" formControlName="fio" required>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Желаемый стартовый номер участника</mat-label>
        <span matPrefix>
                    <mat-spinner *ngIf="registerForm.controls['number'].pending" diameter="24"></mat-spinner>
                </span>
        <input matInput placeholder="" type="number" formControlName="number" required>
        <mat-error
                *ngIf="registerForm.controls['number'].hasError('used_value') && !registerForm.controls['number'].hasError('required')">
            Стартовый номер {{ registerForm.controls['number'].errors['used_value'].value }} уже зарегистрирован
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Класс участника</mat-label>
        <mat-select formControlName="class" required>
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let item of competition.classes" [value]="item">
                {{item|titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" *ngFor="let field of competition.athlet_extra_fields;">
        <mat-label>
            {{field|titlecase}}
        </mat-label>
        <input matInput placeholder="" [formControlName]="field">
    </mat-form-field>


    <mat-form-field *ngIf="registerForm.controls.hasOwnProperty('phone')" class="full-width">
        <mat-label>Телефонный номер</mat-label>

        <span matPrefix>+7 &nbsp;</span>
        <input (input)="onPhoneInput()" type="tel" matInput placeholder="Телефон" formControlName="phone"
               required>
        <mat-hint>Убедитесь, что вводите номер телефона без пробелов, только 10 цифр</mat-hint>
        <span matSuffix>
                    <mat-spinner *ngIf="registerForm.controls['phone'].pending" diameter="24"></mat-spinner>
                </span>
        <mat-error
                *ngIf="registerForm.controls['phone'].hasError('used_value') && !registerForm.controls['phone'].hasError('required')">
            Указанный телефонный номер уже зарегистрирован
        </mat-error>
    </mat-form-field>

    <div *ngIf="registerForm.controls['captcha']" class="mat-form-field full-width">
        <re-captcha formControlName="captcha" required></re-captcha>
    </div>

    <div *ngIf="registerForm.controls.hasOwnProperty('code')">
        <mat-form-field class="full-width">
            <mat-label>Код подтверждения</mat-label>
            <input matInput formControlName="code" required>
            <mat-hint>Код состоит из 6-ти цифр</mat-hint>
            <span matSuffix>
                    <mat-spinner *ngIf="registerForm.controls['code'].pending" diameter="24"></mat-spinner>
                </span>
        </mat-form-field>
        <div *ngIf="!registerForm.controls['code'].valid" class="mat-form-field full-width">
            <button mat-raised-button color="warn"
                    [disabled]="registerForm.controls['phone'].invalid || registerForm.controls['captcha']?.invalid"
                    (click)="onSendSms()" type="button">Выслать код подтверждения номера
            </button>
        </div>
    </div>

    <div class="mat-form-field full-width">
        <button mat-raised-button color="primary"
                [disabled]="!formIsValid()"
                type="submit">
            {{ athlet?.id ? 'Сохранить' : 'Зарегистрироваться' }}
        </button>
    </div>
</form>
